{% extends 'aws/base.html' %}'



{% block content %}

<!--

if drill active,

if question answered incorrectly, make count 3,

if question answered correctly count-=1

if count!=0:

get cert, module and question make specific url and call it
for specific url

else, go to random url

button in corner which sends you to a url not including 'drill' if in drill mode
OR including drill if not in drill mode

if in drill mode, we need to know if Auto DI is active AND how many reps we need to do
maybe populate the area where the reset button is with that
indicator showing when autodi is active

otherwise, we've got a lovely reset button right there!

-->

<script>
    function drillActivate(){
        var drillButton = document.getElementsByClassName('drill-button')[0];
        drillButton.style.color='greenyellow';
        drillButton.style.textShadow="\
                                    0 0 7px #fff,\
                                    0 0 21px #fff,\
                                    0 0 42px #0fa,\
                                    0 0 82px #0fa,\
                                    0 0 92px #0fa,\
                                    0 0 102px #0fa,\
                                    0 0 151px #0fa";
        if (getCookie('drill').split(',')[0]=='0'){
            //console.log('no cookie here in use, so we made a new one!')
            document.cookie = "drill=1,0;path=/;";// update cookie value
        }
        var drillActive='1';
        console.log('drillActivate written in multi',drillActive,getCookie('drill'));
    }

    function drillDeactivate(){
        // update button appearance
        var drillButton = document.getElementsByClassName('drill-button')[0];
        drillButton.style.color='orange';
        drillButton.style.textShadow='-1px -1px 1px #fff, 1px 1px 1px #000';
        // update cookie value
        document.cookie = "drill=0,0;path=/;";
        var drillActive='0';
        //console.log('drillDeactivate written in multi',drillActive, getCookie('drill'));    
    }

    document.title = "{{title}}"

    //Cookies dealing with time
    //console.log(getCookie("time"));
    var start = Date.now()    

    if (getCookie("time") != ''){//if cookie for timing exists
        var sec = Number(getCookie('time'));//use that as value from which to count up
    } else {
        var sec = 0;//start from zero
    }

    // total_correct cookie stores two integers separated by a comma
    if (getCookie("total_correct") != ''){//if cookie exists
        var total, correct;
        [total, correct] = getCookie("total_correct").split(",")
        total = parseInt(total);
        correct = parseInt(correct);
    } else {
        var total = 0, correct = 0 //start from zero
    }
    var percentage = correct / total * 100;
    var time = sec;
    

    //var sec = 0;
    function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        document.getElementById("seconds").innerHTML=pad(++sec%60);
        document.getElementById("minutes").innerHTML=pad(parseInt(sec/60,10));
    }, 1000);
    
    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    </script>

<div class="question-report-inner">

<div class = 'qtop'>
    <div class='stats-grid'>
        <div class="left-top">
            <div class='reset' onclick=reset()>Reset stats</div>
            
            <div class="auto-di-container">
                <div class="auto-di-icon-container"><i class="bi bi-mortarboard-fill"></i></div>
                <div class="auto-di-reps"><span id="reps"></span> reps due</div>
                <div class="auto-di-rep-ticks"></div>
            </div>
        </div>
        <div class = 'timer'>
            <span id="minutes"></span>:<span id="seconds"></span>
        </div>
        <div class='stats-item'>
            <div class = 'ratio'>
                <span id="correct"></span>/<span id="total"></span> correct
            </div>
        </div>
        <div class='stats-item'>
            <div class = 'percent'>
                <span id="percent"></span> %
            </div>
        </div>
        <div class='stats-item'>
            <div class = 'speed'>
                <span id="speed"></span> seconds / mark
            </div>
        </div>
    </div>
</div>
<div class = 'qbottom'>
    <div class = 'qleft'>
        <!--Question is a list of dictionaries with keys either 'text' or 'code'-->
        {% for line in question %}
            {% if line.text != None %}
                <div class='text'>{{line.text}}</div>
            {% elif line.code != None %}
                <div class = 'code-container'>
                    <pre class="prettyprint">{{line.code}}</pre>
                </div>
            {% endif %}
        {% endfor %}
        <div class = 'help-links'>
            
            <!--<div class='text'>Dropped a mark? Read up on:</div>-->
            <div class='text'><a href = "{{question_description_link}}" target = '_blank'>Little help? (opens duckduckgo)</a></div>
            
        </div>
    </div>
    <div class = 'qright'>
        {% if question_type == 'multi-choice' %}
        
        {% for thing in items %}
        <div class='multi-item {{thing.indicator}}' id='{{thing.id}}' onclick = "multiChoiceSubmit('{{thing.indicator}}','{{thing.id}}')">
            <div class="dot" id = '{{thing.id}}dot'></div>
            {% if thing.item != None %}
                <div class='text'>{{thing.item}}</div>
            {% endif %}
            {% if thing.code != None %}
                <div class = 'code-container'>
                    <pre class="prettyprint">{{thing.code}}</pre>
                </div>
            {% endif %}
        </div>
        {% endfor %}
        

        {% elif question_type == 'select' %}
            
        <!--THIS DOESN'T WORK AND I HAVE NO IDEA WHY
        <div class='select-item' indicator='{{item.indicator}}' id='{{item.id}}'>
            <input type="checkbox" id="option{{item.id}}" name="option{{item.id}}" class = "c-radius">
            {% if item.item != None %}
            <div class='text'>{{item.item}}</div>
            {% endif %}
            {% if item.code != None %}
            <div class = 'code-container'>
                <pre class="prettyprint">{{item.code}}</pre>
            </div>
            {% endif %}
        </div>
        
        -->

        <div class='button-div'>
            <div class='submit-button-wrapper'>
                <div class='submit' onclick=checkboxSubmit()>Submit</div>
            </div>
        </div>
        {% endif %}

        <div class='button-div'>
            <div class='next-question-wrapper'>
                <div class='next' onclick=nextQuestion()>Next Question</div>
            </div>
        </div>
        
    </div>

    
</div>

</div>

<script>
if (getCookie("drill") != ''){//if drill exists
    //console.log('something in cookie in multi')
    var drillCookieData = getCookie('drill').split(",");//use that as value from which to count up
    //console.log('this is in cookie',drillCookieData)
    var drillActive = drillCookieData[0];
    var repCount = parseInt(drillCookieData[1]);
    //console.log('repCount',repCount,typeof repCount)
    //console.log('drillActive',drillActive,'repCount',repCount)
    
} else {
    console.log('nothing in cookie')
    var drillActive = '0';//start from zero
    var repCount = 0;
    document.cookie = "drill=0,0;path=/;";
}
if (drillActive=='0'){
    drillDeactivate()
} else if (drillActive=='1'){
    drillActivate()
}

if (drillActive=='1'){
    // display none for .reset and block for auto-di-containe
    document.getElementsByClassName('reset')[0].style.display='none';
    document.getElementsByClassName('auto-di-container')[0].style.display='grid';
    
    if (repCount!='0'){
        document.getElementById('reps').innerHTML=repCount;
        document.getElementsByClassName('auto-di-icon-container')[0].style.color='var(--first-light)';
    } else {
        document.getElementById('reps').innerHTML='0';
        document.getElementsByClassName('auto-di-container')[0].style.color='silver';
    }
} else {
    document.getElementsByClassName('reset')[0].style.display='block';
    document.getElementsByClassName('auto-di-container')[0].style.display='none';
}


//populate dash
try{
    document.getElementById('correct').innerHTML = correct.toString();
} catch(err){
    document.getElementById('correct').innerHTML = '0';
}
try{
    document.getElementById('total').innerHTML = total.toString();
} catch(err){
    document.getElementById('total').innerHTML = '0';
}
try{
    document.getElementById('speed').innerHTML = Math.round((time / correct)*10)/10;
} catch(err){
    document.getElementById('speed').innerHTML = '0';
}
try{
    document.getElementById('percent').innerHTML = Math.round(correct/total*100)
} catch(err){
    document.getElementById('percent').innerHTML = '0';
}

var clicks = 0;
function multiChoiceSubmit(indicator, id) {
    clicks = clicks + 1;
    if (clicks == 1) {
        //incrment total of questions answered, correct marks if needed and colourise needed 
        total = total + 1
        if (indicator == 'correct'){
            correct = correct + 1
            document.getElementById(id).style.background='lightgreen';
            document.getElementById(id + 'dot').style.background='green';
            
           
        } else {
            document.getElementById(id).style.background='pink';
            document.getElementById(id + 'dot').style.background='red';
            document.getElementsByClassName('correct')[0].style.background='lightgreen';               
        }
        processModuleCookieData(indicator)
        updateTotalCorrectCookie()//increment cookies
        updateDash()//update dash
        revealNextButtonAndHelps()//reveal next question button
        drillDashHandler(indicator)
        //console.log('indicator',indicator)
        document.cookie = 'correctIncorrect='+indicator+';path=/'
    }
}

var moduleStringCodeDict = {
    'introduction':'cp1', 
    'compute_in_the_cloud':'cp2', 
    'global_infrastructure_and_reliability':'cp3', 
    'networking':'cp4',
    'storage_and_databases':'cp5',
    'security':'cp6',
    'monitoring_and_analytics':'cp7',
    'pricing_and_support':'cp8', 
    'migration_and_innovation':'cp9', 
    'the_cloud_journey':'cp10'
}

function drillDashHandler(correctIncorrect){
    var drillCookieData = getCookie('drill').split(",");//use that as value from which to count up
    var drillActive = drillCookieData[0];
    var repCount = parseInt(drillCookieData[1]);
    if (drillActive=='1'){//if drill mode active
        // if answer incorrect, set drill count to three, drillModuleDescription to moduleName and drill question to question name
        if (correctIncorrect=='incorrect'){
            var repCount=3;
            document.getElementsByClassName('auto-di-icon-container')[0].style.color='var(--first-light)';
            document.getElementsByClassName('auto-di-reps')[0].style.color='black';
            document.getElementsByClassName('auto-di-rep-ticks')[0].textContent = '';
        } else if (correctIncorrect=='correct'){// if answer correct
            if (repCount>0){// reps still to go
                repCount= repCount-1;
                document.getElementsByClassName('auto-di-icon-container')[0].style.color='var(--first-light)';
                document.getElementsByClassName('auto-di-reps')[0].style.color='black';
                //var newElement = document.createElement('i')
                //newElement.classList="bi bi-check-lg"
                //document.getElementsByClassName('auto-di-rep-ticks')[0].appendChild(newElement);
                var newElement = document.createElement('i');
                newElement.classList="bi bi-hand-thumbs-up-fill";
                document.getElementsByClassName('auto-di-rep-ticks')[0].appendChild(newElement);
            }
            if (repCount==0){
                document.getElementsByClassName('auto-di-container')[0].style.color='silver';
                document.getElementsByClassName('auto-di-rep-ticks')[0].textContent = '';
                var newElement = document.createElement('i');
                newElement.classList="bi bi-hand-thumbs-up-fill";
                document.getElementsByClassName('auto-di-rep-ticks')[0].appendChild(newElement);
            }
        }

        document.getElementById('reps').innerHTML=repCount.toString();
        var drillCookieString = 'drill='+drillActive+','+repCount.toString()+';path=/';
        document.cookie = drillCookieString;
    }
}

/*This code simple doesn't work. For some reason, I can't loop through the elements on
the page to work out what goes where. It's simply crazy

//variables used for checkboxSubmit() logic
var submitted = false;
var final_mark = 0;
var correct_required = '{{correct_required}}';

function checkboxSubmit(){
    if (submitted == false){//if form hasn't been submitted before
        console.log("First attempt to submit")

        //iterate through id values to target all rows containing selection options    
        var id = 1
        while (true){
            var id_str = String(id);
            item_id = 'item'+id_str;//make id for each row
            var element = document.getElementById(item_id)
            console.log(element)
            if (element !== null){
                incrementFinalMarkIfCorrect(item_id);
                id = id + 1;//prepare for next item_id
            }else{
                console.log(item_id)
                break;//stop the loop and move on
            }
        }

        console.log(final_mark);
        total = total + 1;
        if (final_mark == correct_required){
            correct = correct + 1;
        }
        updateCorrectTotalCookies()//increment cookies
        updateDash()//update dash
        revealNextButtonAndHelps()//reveal next question button
        submitted = true;         
    }
}

function incrementFinalMarkIfCorrect(id){
    //this function only used in from within checkboxSubmit()
    //the function acts on each row in a select and submit

    //get attribute valued from row
    var element = document.getElementById(id);//get element
    console.log('element', element);
    var indicator =$('#'+id).attr('indicator');
    console.log('indicator', indicator);
    //var indicator = element.getAttribute('class')[1].value;//get indicator value
    var checkbox = $('option' + id).is(":checked");//get checkbox id value 
    console.log('checkbox', checkbox);

    if (checkbox == false){//if check box not checked...
        if ( indicator == "correct"){//if correct answer 
            final_mark -= 1;//correct subtract one from final_mark to show incorrect answer
            document.getElementById(id).style.background='lightgreen';//show that correct answer has been missed
            }
    } else {//elif box checked
        if (indicator == "correct"){//if option correct, 
            final_mark += 1;//add one to final mark score
            document.getElementById(id).style.background='lightgreen';//indicate that selection is correct
        } else {//if box checked and option not correct,
            final_mark -= 1;//subtract one from final mark score
            document.getElementById(id).style.background='pink';//indicate that correct answer was missed                }
        }
    }  
}
*/

// called by multi choice submit
function updateTotalCorrectCookie(){
    //console.log([total,correct].toString())
    document.cookie = "total_correct=" + [total,correct].toString();
}

// called by multi choice submit
function updateDash(){
    document.getElementById('correct').innerHTML = correct.toString();
    document.getElementById('total').innerHTML = total.toString();
    document.getElementById('percent').innerHTML = Math.round(correct/total*100);
    time = sec;
    document.getElementById('speed').innerHTML = Math.round((time / correct)*10)/10;
}

// called by multi choice submit
function revealNextButtonAndHelps(){
    document.getElementsByClassName('help-links')[0].style.display = "block";
    document.getElementsByClassName('next-question-wrapper')[0].style.display = "block";
}

// called by multi choice submit
// handle report cookies with module names storing two integers and a list of questions as follows:
// "migration_and_innovation=10$5$snow family!another question!question about:this"
// turn cookies into module total, correct and array of question descriptions

/*
function processModuleCookieData(correctIncorrect){
    var moduleName = "{{module_name}}"

    if (getCookie(moduleName) != 'nope'){//if cookie exists
        var moduleCookieData = getCookie(moduleName).split("$");
        var moduleTotal = parseInt(moduleCookieData[0]);
        var moduleCorrect = parseInt(moduleCookieData[1]);
        var incorrectQuestions = moduleCookieData[2];
        if (typeof incorrectQuestions == "undefined"){
            console.log('incorrectQuestions',incorrectQuestions, 'undefined')
            incorrectQuestions='';
        }
        //console.log('cookie exists and this is what we got:',moduleTotal, moduleCorrect)
    } else {
        var moduleTotal = 0, moduleCorrect = 0, incorrectQuestions = ''; //start from zero
        var incorrectQuestions='';
    }
    console.log('incorrectQuestions',incorrectQuestions)
    moduleTotal+=1;
    if(correctIncorrect == 'correct'){
        moduleCorrect+=1;
    }else if(correctIncorrect == 'incorrect'){
        var questionDescription = "{{question_description}}";
        if(incorrectQuestions.slice(0).includes(questionDescription)){

        }else{
            incorrectQuestions = incorrectQuestions + questionDescription + '!';
        }

    }
    console.log(moduleTotal, moduleCorrect, incorrectQuestions)
    var cValue = moduleTotal.toString() + '$' + moduleCorrect.toString() + '$' + incorrectQuestions;
    setCookie(moduleName, cValue);

}
*/


function processModuleCookieData(correctIncorrect){

    var moduleName = "{{module_name}}"

    if (getCookie(moduleName) != 'nope'){//if cookie exists
        var moduleCookieData = getCookie(moduleName).split("$");
        var moduleTotal = parseInt(moduleCookieData[0]);
        var moduleCorrect = parseInt(moduleCookieData[1]);
        var incorrectQuestions = moduleCookieData[2];
        if (typeof incorrectQuestions == 'undefined'){
            incorrectQuestions='';
        }
        
    } else {
        var moduleTotal = 0, moduleCorrect = 0, incorrectQuestions = ''; //start from zero
    }
    console.log('incorrectQuestions',incorrectQuestions)
    moduleTotal+=1;
    if(correctIncorrect == 'correct'){
        moduleCorrect+=1;
    }else if(correctIncorrect == 'incorrect'){
        var questionDescription = "{{question_description}}";
        if(incorrectQuestions.slice(0).includes(questionDescription)){
            
        }else{
            incorrectQuestions = incorrectQuestions + questionDescription + '!';
        }    
        
    }
    console.log(moduleTotal, moduleCorrect, incorrectQuestions)
    var cValue = moduleTotal.toString() + '$' + moduleCorrect.toString() + '$' + incorrectQuestions;
    setCookie(moduleName, cValue);  
}




function deleteCookie(cName){
    try {
        document.cookie = cName + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/'
        console.log('deleted',getCookie(cName));
    }
    catch {
        console.log(cName + ' cookie does not exist');
    }
    
}


var module_array = [
    'introduction', 
    'compute_in_the_cloud', 
    'global_infrastructure_and_reliability', 
    'networking',
    'storage_and_databases',
    'security',
    'monitoring_and_analytics',
    'pricing_and_support', 
    'migration_and_innovation', 
    'the_cloud_journey'
]

function reset(){
    document.getElementById('seconds').innerHTML = 0;
    document.getElementById('minutes').innerHTML = 0;
    document.getElementById('correct').innerHTML = 0;
    document.getElementById('total').innerHTML = 0;
    document.getElementById('speed').innerHTML = 0;

    for (var module in module_array) {
        //deleteCookie(module_array[module]);
        document.cookie = module_array[module] + "=0$0$;path=/"
    }

    document.cookie = "time=0";
    document.cookie = "total_correct=0,0"
    location.reload();
}

function nextQuestion(){
    
    var end = Date.now();
    var total = Math.floor((end-start)/1000);
    var str_sec = sec.toString();
    var cookie_str = "time=" + str_sec;
    document.cookie = cookie_str;

    var drillCookieData = getCookie('drill').split(",");//use that as value from which to count up
    var drillActive = drillCookieData[0];
    var repCount = parseInt(drillCookieData[1]);
    if (drillActive=='1'){
        console.log('drill is active and rep count', repCount);
        if (repCount>0){
            console.log('more than 0 reps due');
            var url = window.location.href;
            var urlList = url.split('/');
            console.log(urlList);
            if (urlList.slice(-2,-1)[0]=='random'){
                var cert = urlList.slice(-3,-2)[0];
                var new_url ='/'+'aws'+ "/"+'{{cert_name}}'+"/"+moduleStringCodeDict["{{module_name}}"]+'/'+'{{question_description}}';
                console.log('new_url',new_url)
                window.location.href = new_url;
                //location.reload(new_url);
            } else {
                new_url ='/'+'aws'+ "/"+'{{cert_name}}'+"/"+moduleStringCodeDict["{{module_name}}"]+'/'+'{{question_description}}';
                window.location.href = new_url;
                //location.reload(new_url);
            }
        }else{
            var new_url ='/'+'aws'+ "/"+'{{cert_name}}'+"/"+"random";
            window.location.href = new_url;
            //location.reload(new_url);
        }
    } else{
        location.reload();
    }
}



//sets a cookie with a given name and value
function setCookie (cName, cValue){//sets a cookie
    document.cookie = `${cName}=${cValue};path=/`;
}

// increases value of any given cookie storing only one integer, default of 1
function incrementCookie(cName, to_add = 1){
    var value = parseInt(getCookie(cName)) + to_add;
    setCookie(cName, value);
    console.log('Incremented');
    console.log(cName);
}    



//
// Phase 1: when question attempted, +=1 to module report cookie total
// Get cookie
// Get key str and turn into array
// first two items in array are total and correct
// rest can be 
// 
// phase2: if question incorrect, add key to module report cookie if not already present
//
// phase 3: if question correct, +=1 to module report cookie correct

// when answered, module count cookie += 1
// if correct, module count correct cookie += 1
// in incorrect, save question and options into module incorrect cookie

// report page
</script>

{% endblock %}